html{
	font-size:20px;
	font-family:"Open Sans",sans-serif;
}
h1{
font-size:60px;
text-align:center;
}
p,li{
	font-size:15px;
	line-height:2;
	letter-spacing:1px;
}
html{
	background-color:#7B68EE;
}
body{
	width:1000px;
	margin:0 auto;
	background-color:#FF1493;
	padding: 0 30px 30px 30px;
	border: 5px solid black;
}
h1{
	margin:0;
	padding:20px 0;
	color:#00539F;
	text-shadow:3px 3px 1px black;
}
img{
	display: block;
	margin:0 auto;
}